<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>NekoMain</title>

<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<script>
    const mangas = {{ mangas | tojson }};

    function busqueda () {
        let input = document.getElementById("buscador").value.toLowerCase();
        let resultados = document.getElementById("resultados");

        resultados.innerHTML = "";

        if (input === "") {
            resultados.style.display = "none";
            return;
        }

        for (let key in mangas) {
            let titulo = mangas[key].titulo.toLowerCase();

            if (titulo.includes(input)) {
                let div = document.createElement("div");
                div.textContent = mangas[key].titulo;

                div.onclick = () => {
                    window.location.href = "/" + key;
                };

                resultados.appendChild(div);
            }
        }

        resultados.style.display = "block";
    }
</script>

</head>

<body>

<header class="navbar">

    <div class="nav-left">
        <a href="/">
            <img src="{{ url_for('static', filename='logos/' + 'NekoLogo.png') }}" class="logo">
        </a>
        <h1 class="titulo">Neko no mangas</h1>
    </div>

    <nav class="nav-center">
        <a href="/">Inicio</a>
        <a href="/contacto">Contacto</a>
        <a href="/favoritos">Guardados</a>
    </nav>

    <div class="nav-right">
        <input type="text" id="buscador" placeholder="Buscar" onkeyup="busqueda()">
        <div id="resultados" class="resultados"></div>
    </div>

</header>

<section class="banner">
    <img src="{{ url_for('static', filename='logos/' + 'Neko_Banner.jpeg') }}" alt="Banner principal">
</section>

<section class="screen">
    <div class="main-layout">
        <div class="left-content">

              <h2 class="titulo-grid">Mangas</h2>

            <div class="manga-grid">

                {% for key, manga in mangas.items() %}
                <a href="/{{ key }}" class="manga-link">
                    <div class="manga-card">
                        <img src="{{ url_for('static', filename='portadas/' + key + '.png') }}" alt="{{ manga.titulo }}">
                        <p>{{ manga.titulo }}</p>
                    </div>
                </a>
                {% endfor %}

            </div>
        </div>

        <div class="right-content">

            <div id="fb-root"></div>

            <script async defer crossorigin="anonymous"
                src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v25.0">
            </script>

            <div class="fb-page"
                data-href="https://www.facebook.com/profile.php?id=100092105245005"
                data-tabs="timeline"
                data-adapt-container-width="true"
                data-hide-cover="false"
                data-show-facepile="true">
            </div>

        </div>

    </div>

</section>

<footer class="footer">
    <p>© 2026 El culto de la neko. Este sitio es proyecto sin fines de lucro.</p>
    <p>
        Todo contenido pertenece a sus respectivos autores y editoriales. 
        Si eres propietario de alguno de los materiales disponibles y deseas su eliminación, contáctanos.
    </p>
</footer>

</body>
</html>